/*html, body{
    background-color:#000;

}

table{
    display:flex;
    justify-content:center;
    margin-top:50px;
    margin-left:200px;
}


img{
    cursor:pointer;
    margin:5px;
}

.logo{
    position:absolute;
    padding:50px;
}*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 20px 0;
  background: #000; }

.logo {
  padding-left: 50px; }

.grid {
  max-width: 1000px;
  padding: 150px;
  margin: 0 auto;
  margin-top: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.card {
  margin: 5px;
  background-image: url("../img/fondcard.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 120px;
  width: 120px; }

.selected {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.match {
  background-image: none !important; }
